name: cd

on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed
    conclusions:
      - success

jobs:
  start:
    runs-on:
      - self-hosted
      - be-apartment_business

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Chạy lần đầu (init)
      - name: Chạy lần đầu
        run: docker compose up -d

      # Sau lần đầu thì dùng block này
      # - name: Kéo image mới
      #   run: docker compose pull service-apartment_business
      #
      # - name: Recreate container
      #   run: docker compose up -d --no-deps --force-recreate service-apartment_business
