name: ci

on:
  push: 
    branches: ["main"]

jobs: 
    build: 
        runs-on: ubuntu-latest

        steps: 
            - uses: actions/checkout@v4

            - name: Đăng nhập docker hub
              run: docker login -u tienhiendev -p ${{secrets.DOCKER_PASS}}

            - name: Build image
              run: docker build -t tienhiendev/img_be_apartment_bussiness:latest .

            - name: Push Image lên docker hub 
              run: docker push tienhiendev/img_be_apartment_bussiness:latest